body{
margin:0;
font-family:'Press Start 2P', cursive;
color:white;
background:linear-gradient(-45deg,#0f0f0f,#151515,#1a1a1a,#101010);
background-size:400% 400%;
animation:bg 15s ease infinite;
}

@keyframes bg{
0%{background-position:0% 50%;}
50%{background-position:100% 50%;}
100%{background-position:0% 50%;}
}

/* HEADER */

header{
text-align:center;
padding:40px 0;
}

.logo{
width:220px;
margin:auto;
display:block;
}

nav ul{
list-style:none;
padding:0;
margin-top:30px;
}

nav li{
display:inline-block;
margin:0 25px;
}

nav a{
text-decoration:none;
color:white;
font-size:14px;
}

nav a:hover{
color:#7cffb3;
}

/* HOME SECTION */

.home{
display:flex;
justify-content:space-between;
align-items:center;
max-width:1100px;
margin:auto;
padding:120px 40px;
}

.server-info{
text-align:left;
}

.ip{
font-size:20px;
color:#7cffb3;
cursor:pointer;
}

.ip:hover{
color:#a5ffd0;
}

.copy{
font-size:10px;
color:#888;
}

.discord-area{
text-align:right;
}

.discord-button{
background:#5865F2;
padding:16px 28px;
color:white;
text-decoration:none;
border-radius:8px;
font-size:12px;
}

.discord-button:hover{
background:#4752c4;
}
